{
    "command": "dipy_track_local:eudx",
    "use_binary_mask":False,
    "stopping_thr":0.2,
    "seed_density":1,
    "step_size":0.5,
    "tracking_method":"eudx",
    "pmf_threshold":0.1,
    "max_angle":30.,
    "peaks":,
    "stopping_files":,
    "seeding_files":,
}
